<%= link_to "English", "/en#{request.fullpath.delete_prefix("/#{I18n.locale}")}" %> <%= link_to "日本語", "/ja#{request.fullpath.delete_prefix("/#{I18n.locale}")}" %>

<h1><%= t '.Editing_book' %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to "#{t '.Show_this_book'}", @book %>
  <%= link_to "#{t '.Back_to_books'}", books_path %>
</nav>
